<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Giriş Yap</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <img id="background" src="/images/login-background.jpg" >
  <form action="/auth/login" method="post">
    <h1>Giriş Yap</h1>
    <div class="inputs">
      <div class="input">
        <label for="email">E-posta:</label>
        <input type="email" name="email" id="email" placeholder="example@example.com">
        <span class="errorMessage"></span>
      </div>
      <div class="input">
         <label for="password">Şifre:</label>
        <input type="password" name="password" id="password" placeholder="••••••••">
        <span class="errorMessage"></span>
      </div>
    </div>
    <button type="submit">Giriş</button>
  </form>
</body>
</html>
